<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Macro para montar la Blaze-101 -->
  <xacro:macro name="blaze101_mount" params="parent_link xyz rpy">

    <link name="blaze_blaze101">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://blaze101_description/meshes/baslerBlaze101.dae"/>
        </geometry>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1"/>
        </material>
      </visual>
    </link>

    <joint name="camera_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent_link}"/>
      <child link="blaze_blaze101"/>
    </joint>

  </xacro:macro>

</robot>
